<% if (!user) { %>
    <link rel="stylesheet" href="/stylesheets/siwg.css">
  <% } %>
  <script src=""></script>
  </head>
  <body>
  <header id="sign"class="p-3 bg-danger text-white">
    <nav class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
        <ul
          class="nav col-12 col-lg-auto me-lg-auto mb-2 mb-md-0 justify-content-center"
        >
          <li>
            <img 
                src="https://icon-library.com/images/comic-book-icon-png/comic-book-icon-png-25.jpg" 
                alt="Comic book Libary " 
                class="me-3"
                
              >
          </li>
          <li class="d-flex align-items-center mb-2 mb-lg-0 fs-3">
            <a href="/" class="text-light text-decoration-none"></a>
          </li>
          <li class="d-flex align-items-center ms-3 mb-2 mb-lg-0">
            <a href="/comics" class="text-light text-decoration-none">
              View Comics
            </a>
          </li>
          <% if (user) { %>
            <li class="d-flex align-items-center ms-3 mb-2 mb-lg-0">
              <a href="/messages" class="text-light text-decoration-none">
                
              </a>
            </li>
          <% } %>
        </ul>
        <form action="/comics/search" method="POST" class="d-flex align-items-center me-3">
          <input name="search" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <div class="text-end d-flex align-items-center">
          <% // TODO: Add login logic here %>
          <% if (!user) { %>
            <link rel="stylesheet" href="/stylesheets/siwg.css">
          <% } %>
        </head>
        <body>
          <nav>
            <% if (user) { %>
              <a href="/auth/logout">
                <button type="submit">Logout</button>
              </a>
            <% } else { %>
              <a href="/auth/google" class="siwg-link">
                <button type="submit" class="siwg">
                  <img id="siwg-image" alt="Sign in with Google" />
                </button>
              </a>
            <% } %>
          </nav>
          <% if (user) { %>
            <div id="profile-dropdown" class="dropdown text-end">
              <a 
                id="dropdownUser"
                href="#"
                class="d-block link-light text-decoration-none"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                <% if(user?.profile.avatar) {%>
                  <img 
                    class="rounded-circle avatar-img"
                    src="<%= user.profile.avatar %>" 
                    alt="Your avatar"
                  >
                <% } else { %>
                  <img
                    class="avatar-img"
                    src="cover_0_0.img_assist_custom_0.jpg" 
                    alt="A placeholder avatar"
                  >
                <% } %> 
              </a>
              <ul 
                class="dropdown-menu bg-secondary" 
                aria-labelledby="dropdownUser"
              >
                <li>
                  <a 
                    href="/profiles/index " 
                    class="dropdown-item bg-secondary text-white"
                  >
                    My Profile
                  </a>
                </li>
                <li><hr class="dropdown-divider bg-secondary text-white"></li>
                <li>
                  <a 
                    href="/auth/logout" 
                    class="dropdown-item bg-secondary text-white"
                  >
                    Sign Out
                  </a>
                </li>
              </ul>
            </div>
          <% } else { %>
            
          <% } %>
        </div>
      </div>
    </nav>
  </header>