<%- include('partials/html-head') %>
<%- include('partials/nav') %>

<main>
   <% if (user) { %>
      <a href="/comics">hi</a>
      
       
      
      
   <% } else{ %>
    <h2>user is not logged in</h2>
   <%} %>
       

<%- include('partials/footer') %>
