<%- include('partials/html-head') %>
<%- include('partials/nav') %>

<main>
   <% if (user) { %>
    <h1>user is logged in</h1>
   <% } else{ %>
    <h2>user is not logged in</h2>
   <%} %>
       

<%- include('partials/footer') %>
