<%- include('partials/html-head') %>
<%- include('partials/nav') %>

<main>
   <% if (user) { %>
      <a id ="w"href="/comics">Weclome Back</a>
      
       
      
      
   <% } else{ %>
    <h2>user is not logged in</h2>
   <%} %>
   </main>  

<%- include('partials/footer') %>
