
body {
  padding: 50px;
  font: 14px ;
  font-family: 'Bebas Neue', cursive;

}

a {
  color: #140213;
  font-size: 20px;
}
#sign{
  background-color: grey;
}
body{
 background-image: url(https://cutewallpaper.org/21/hd-comic-book-wallpaper/Comic-Book-Wallpapers-Full-HD-Free-Download.png);
 
 
}

#w{
  font-size: large;
}


input{
  padding: 12px, 20px;
  border-radius: 40px;
  width: auto;
  
  
  
}
#infoo,
#info{
  color: whitesmoke;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
  background-color: rgba(0, 0, 0, 0.644);
}