
body {
  padding: 50px;
  font: 14px ;
  font-family: 'Bebas Neue', cursive;

}

a {
  color: #140213;
  font-size: 20px;
}

body{
 background-image: url(https://cutewallpaper.org/21/free-comic-book-backgrounds/Comic-book-background-stock-vector.-Illustration-of-noise-.jpg);
 
 
}



input{
  padding: 12px, 20px;
  border-radius: 40px;
  width: auto;
  
  
  
}
#infoo,
#info{
  color: whitesmoke;
  font-size: 20px;
  font-family: 'Bebas Neue', cursive;
  background-color: rgba(0, 0, 0, 0.644);
}