<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <% if (comics) { %> 
    <form action="/comics" method="POST">
      <input type="text" name="name" placeholder="Enter Comic Name">
      <br>
      <button type="submit"> new comic button</button>
      </form>
      
      <% comics.forEach(comics => { %>
       <a href="/comics/<%= comics._id%>/edit"><%= comics.name %> </a>
       
         <form action="/comics/<%= comics._id%>?_method=DELETE" method="POST">
           <button type="submit">X</button>
          </form>
        </form>
      <% }) %>
  <% } else {%>
    <h2>no comics are rendering</h2>
  <%  }%> 
  </body>
</html>
